/* Profile.css */

.Profile h1 {
    color: #333;
    font-size: 2em;
}

.Profile .title {
    color: #666;
    font-size: 1.2em;
}

.Profile .location {
    color: #777;
    font-size: 1em;
    margin-top: 5px;
}
